<div class="user container">
  <!-- プロフィール部分 -->
  <%= render partial: 'users/profile' %>
  <!-- フォロワーリスト部分 -->
  <h1>フォロワー</h1>
  <ul class="users">
    <li>
      <div style="background: url('https://dummyimage.com/200/b492cc/fff'); background-position: 50%; background-size: cover;" class="image"></div>
      <a href="#">
        <span class="name">田上士郎</span>
      </a>
      <a class="button" href="#">フォロー解除</a>
    </li>
  </ul>
</div>